                                                  <!-- ABOUT ME -->
      <div class="contenedor2">
        <div class="section row">
          <div class="div2 col-lg-9">
            {{!-- es decor, cuando mida menos de 768px, va a ocupar 12 columnas --}}
            <h1>About Me</h1>
            <hr>
            <ul>
              <li>
            <p class="parrafo">
              Me encuentro cursando actualmente -2023- una Tecnicatura Superior en Desarrollo de Software en el Instituto Superior Tecnologico Empresarial Argentino, carrera articulada con varias Licenciaturas en distintas Universidades del Pais, con la posibilidad de una Certificacion Internacional de los estudios cursados.
            </p>
              </li>
              <li>
                
            <p class="parrafo">
              Finalice con exito -2023- BootCamp Full Stack Engineer en Desarrollo Web con Educacion IT, en donde aprendi y reforce conocimientos en Javascript, Css, Html, MongoDB, Express, Node, Bootstrap, Sass y React.
            </p>
              </li>
              <li>
            <p class="parrafo">
              Formacion Academica extra: Abogado 2020.
            </p>
              </li>
            </ul>


          </div>
          <div class="div1  col-lg-3">
            <img
              style="border-radius: 20px"
              class="img-fluid"
              src="/imagenes/yo.jpg"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- Educacion IT -->
    
      <div class="contenedor">
        <div class="section row">
          <div class="div2 col-lg-9 ">
            <h1>Acerca de Educacion IT</h1>
            <hr>
            <p class="parrafo">
          Conocemos el "inside tecnológico" de las compañías y sabemos qué tecnologías y metodologías se ajustan mejor a las necesidades del mercado, transmitiéndolas con un alto nivel académico y fuertemente enfocado en la rápida adaptación del alumno al ambiente laboral, considerando que éste resulte productivo desde el primer día de trabajo.
            </p>
            <p class="parrafo">
          Los planes de estudio junto con sus manuales de contenido que están sometidos a una constante actualización, reflejando los cambios y las tendencias que se producen en el campo de IT.
            </p>
          </div>
          <div class="div1  col-lg-3">
              <a target="_blank" href="https://www.educacionit.com/"> 
            <img
              style="border-radius: 20px"
              class="img-fluid"
              src="/imagenes/logo-it.jpg"
              alt=""
            />      </a>
          </div>
        </div>
      </div>


      <!-- ISTEA -->

      <div class="contenedor">
        <div class="section row">
          <div class="div2 col-lg-9 ">
            <h1>Acerca de ISTEA IT</h1>
            <hr>
            <p class="parrafo">
              El Instituto Superior Tecnológico Empresarial Argentino (ISTEA) es una institución educativa reconocida por el Ministerio de Educación de la Ciudad Autónoma de Buenos Aires desde el 2014 y sus títulos son válidos en todo el territorio nacional.

              Nuestra propuesta educativa combina todo el entrenamiento en tecnologías que ofrece EducaciónIT, con una formación continua y personalizada para que nuestros alumnos egresen como profesionales técnicos especializados, capaces de competir en el mercado laboral tecnológico.
            </p>
          </div>
          
          <div class="div1  col-lg-3">
                  <a target="_blank" href="https://www.istea.edu.ar/institucional"> 
              <img
              style="border-radius: 20px"
              class="img-fluid"
              src="/imagenes/istea.png"
              alt=""
            />      </a>
          </div>
    
        </div>
      </div>
            
                                          {{!-- Tecnologias Utilizadas --}}
    
    <div class="section row">
            <div class="div2">
           <h1>Tecnologias Utilizadas en este proyecto</h1>
           </div>
    </div>    

                                                  {{!-- TARJETAS --}}
  <div class="contenedor">
		<div class="animado contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/node.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo">NODE JS</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>

		<div class="animado contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/mongo.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo">MONGO DB</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>

		<div class="animado contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/javascript.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo"> JAVASCRIPT</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>
	</div>  

                               
  <div class="contenedor">
		<div class="animado contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/express.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo">EXPRESS</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>

		<div class="animado contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/html.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo">HTML</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>

		<div class="animado contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/css.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo">CSS</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>
	</div>  
    
 
                                          {{!--Otras tecnologias Aprendidas --}}
    
    <div class="section row">
            <div class="div2">
           <h1>Tecnologias Utilizadas en otros proyectos</h1>
           </div>
    </div>    

    		<div class=" contenedor_tarjeta">
				<figure id="tarjeta">
					<img src="imagenes/react.png" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo">CSS</h2>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
					</figcaption>
				</figure>

		</div>
	</div>  