<div class="caja-contacto">


<a target="_blank" href="https://www.instagram.com/cristufarace/">
  <img
    id="instagram"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/instagram.jfif"
    alt="instagram imagen"
  />
</a>
<a target="_blank" href="https://www.facebook.com/cristian.farace">
  <img
    id="facebook"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/descarga.jfif"
    alt="facebook imagen"
  />
</a>
<a target="_blank" href="https://twitter.com/farace_cristian">
  <img
    id="twitter"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/twitter.png"
    alt="facebook imagen"
  />
</a>

<a
  target="_blank"
  href="https://www.linkedin.com/in/cristian-farace-369945202/"
>
  <img
    id="linkedin"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/linkedin.png"
    alt="facebook imagen"
  />
</a>
<a
  href="mailto:cristianfarace@gmail.com?subject=Te contacto a travez de la app para registrar gastos- "
><img
    id="gmail"
    style="margin:5px; width: 140px; height: 140px"
    src="/imagenes/gmail.jfif"
    alt="gmail"
  /></a>
  </div>