 <div class="titulo-inicio" >
  <h1>Proyecto Final Educacion IT</h1>
 </div> 
<div class="home">
  <button class="btn m-10 btn-success"> <a class="dropdown-item" href="/about">Info Proyecto</a></button>
</div>
