<div class="container"> 
    <div class="card mt-4 bg-dark text-white">
      <div class="card-header text-center">
        <h1 class="h4 text-white">
          Formulario para Ingresar
        </h1>
      </div>
      <div class="card-body">
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="passsword">Contraseña:</label>
            <input
              class="form-control"
              name="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <button class="btn btn-primary btn-block">
            Ingresar
          </button>
        </form>
      </div>
    </div> 
</div>